<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <style>
        html,body{margin: 0;padding: 0;font-family: "Microsoft YaHei", sans-serif}
        .bottom_t{position: absolute;bottom: 10px;text-align: center;width: 100%;color: #999;font-size: 14px;}
        .logo_t{ text-align: center;margin-top: 150px;color: #EF4F4F;}
        .top_t{ text-align: center;color: #EF4F4F;}
        .middle_t{text-align: center;color: #EF4F4F;}
    </style>
</head>
<body>
    <div>
        <p class="logo_t"><img src="logo.jpg" width="64"></p>
        <p class="top_t">A炒股俱乐部</p>
        <p class="middle_t">大数据助你选股更简单</p>
        <P class="bottom_t">蜀ICP备17019530号</P>
    </div>
</body>
</html>