<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>版权百科</title>
    <link rel="icon" href="/images/font-logoIcon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
    <% include('../common/baidu_tj') %>
</head>
<body>
<% include('../common/header') %>

    <iframe src="/copyright/search_1" width="100%" height="3601px; " style="border: 0">
    </iframe>

<% include('../common/bottom') %>
<% include('../common/foot_script') %>
</body>
</html>