<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e270bdc8b97ae23c4e4dc893ea50a052";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<!-- uniclickTracking -->
<script type="text/javascript">
    var _utaq = _utaq || [];
    _utaq.push(["trackPageView"]);
    _utaq.push(["enableLinkTracking"]);
    (function() {
        var utu=(("https:" == document.location.protocol) ? "https" : "http") + "://sit.gentags.net/";
        _utaq.push(["setTrackerUrl", utu+"site/unids.gif"]);
        _utaq.push(["setSiteId", "1797"]);
        var t=parseInt((new Date()).getTime()/1000);
        var utd=document, ut=utd.createElement("script"), s=utd.getElementsByTagName("script")[0]; ut.type="text/javascript";
        ut.defer=true; ut.async=true; ut.src=utu+"adagent/js/uta.js?v="+(t-t%300); s.parentNode.insertBefore(ut,s);
    })();
</script>
<noscript><img src="http://sit.gentags.net/site/img?site=1797" style="border:0" alt=""/></noscript>
<!-- End uniclickTracking Code -->