<ul class="clearfix float_left">
    <li><a class="active"><i></i></a><span class="tips-o" data-tipso="发表权，即决定作品是否公之于众的权利。">发表权</span></li>
    <li><a><i></i></a><span class="tips-o" data-tipso="署名权，即表明作者身份，在作品上署名的权利。">署名权</span></li>
    <li><a><i></i></a><span class="tips-o" data-tipso="修改权，即修改或者授权他人修改作品的权利。">修改权</span></li>
    <li><a><i></i></a><span class="tips-o" data-tipso="保护作品完整权，即保护作品不受歪曲、篡改的权利。">保护作品完整权</span></li>
    <li><a><i></i></a><span class="tips-o" data-tipso="复制权，即以印刷、复印、拓印、录音、录像、翻录、翻拍等方式将作品制作一份或者多份的权利。">复制权</span></li>
    <li><a><i></i></a><span class="tips-o" data-tipso="发行权，即以出售或者赠与方式向公众提供作品的原件或者复制件的权利。">发行权</span></li>
    <li><a><i></i></a><span class="tips-o" data-tipso="出租权，即有偿许可他人临时使用电影作品和以类似摄制电影的方法创作的作品、计算机软件的权利，计算机软件不是出租的主要标的的除外。">出租权</span></li>
    <li><a><i></i></a><span class="tips-o" data-tipso="展览权，即公开陈列美术作品、摄影作品的原件或者复制件的权利。">展览权</span></li>
    <li><a><i></i></a><span class="tips-o" data-tipso="表演权，即公开表演作品，以及用各种手段公开播送作品的表演的权利。">表演权</span></li>
    <li><a><i></i></a><span class="tips-o" data-tipso="放映权，即通过放映机、幻灯机等技术设备公开再现美术、摄影、电影和以类似摄制电影的方法创作的作品等的权利。">放映权</span></li>
    <li><a><i></i></a><span class="tips-o" data-tipso="广播权，即以无线方式公开广播或者传播作品，以有线传播或者转播的方式向公众传播广播的作品，以及通过扩音器或者其他传送符号、声音、图像的类似工具向公众传播广播的作品的权利。">广播权</span></li>
    <li><a><i></i></a><span class="tips-o" data-tipso="信息网络传播权，即以有线或者无线方式向公众提供作品，使公众可以在其个人选定的时间和地点获得作品的权利。">信息网络传播权</span></li>
    <li><a><i></i></a><span class="tips-o" data-tipso="摄制权，即以摄制电影或者以类似摄制电影的方法将作品固定在载体上的权利。">摄制权</span></li>
    <li><a><i></i></a><span class="tips-o" data-tipso="改编权，即改变作品，创作出具有独创性的新作品的权利。">改编权</span></li>
    <li><a><i></i></a><span class="tips-o" data-tipso="翻译权，即将作品从一种语言文字转换成另一种语言文字的权利。">翻译权</span></li>
    <li><a></a><span class="tips-o" data-tipso="汇编权，即将作品或者作品的片段通过选择或者编排，汇集成新作品的权利。">汇编权</span></li>
    <li><a></a><span class="tips-o" data-tipso="应当由著作权人享有的其他权利。">其他</span></li>
</ul>