<!--nav-->
<div class="baike_nav">
    <div class="custom_width">
        <div class="logo_icon">
            <a href="/"><img src="/images/logo.png" /></a>
        </div>
        <div class="nav_list">
            <ul class="nav_ul">
                <li style="margin-right: 24px;"><a class="menu_btn" href="/copyrightStory" style="margin-top: 5px;display: inline-block;"><img src="/images/img_bqgs.png" alt="" style="position: relative;top: 3px;"></a></li>
                <li>
                    <a href='/list?keyword=文字' class="menu_btn">文字</a>
                    <div class="dropdown-mene">
                        <span></span>
                        <div>
                            <a  href='/list?keyword=小说'>小说</a>
                            <a  href='/list?keyword=剧本'>剧本</a>
                            <a  href='/list?keyword=诗歌'>诗歌</a>
                            <a  href='/list?keyword=杂志'>杂志</a>
                            <a  href='/list?keyword=字体'>字体</a>
                            <a  href='/list?keyword=古籍文化'>古籍文化</a>
                            <a  href='/list?keyword=其他'>其他</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href='/list?keyword=动漫' class="menu_btn">动漫</a>
                    <div class="dropdown-mene">
                        <span></span>
                        <div>
                            <a  href='/list?keyword=漫画'>漫画</a>
                            <a  href='/list?keyword=动画片'>动画片</a>
                            <a  href='/list?keyword=卡通电影'>卡通电影</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href='/list?keyword=音乐' class="menu_btn">音乐</a>
                    <div class="dropdown-mene">
                        <span></span>
                        <div>
                            <a  href='/list?keyword=录音制品'>录音制品</a>
                            <a  href='/list?keyword=MV'>MV</a>
                            <a  href='/list?keyword=词谱'>词谱</a>
                            <a  href='/list?keyword=曲谱'>曲谱</a>
                            <a  href='/list?keyword=词曲谱'>词曲谱</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href='/list?keyword=影视' class="menu_btn">影视</a>
                    <div class="dropdown-mene">
                        <span></span>
                        <div>
                            <a  href='/list?keyword=电影'>电影</a>
                            <a  href='/list?keyword=电视剧'>电视剧</a>
                            <a  href='/list?keyword=体育赛事'>体育赛事</a>
                            <a  href='/list?keyword=综艺'>综艺</a>
                            <a  href='/list?keyword=短视频'>短视频</a>
                            <a  href='/list?keyword=纪录片'>纪录片</a>
                        </div>
                    </div>
                </li>
                <!--<li>-->
                    <!--<a href='/list?keyword=软件' class="menu_btn">软件</a>-->
                    <!--<div class="dropdown-mene">-->
                        <!--<span></span>-->
                        <!--<div>-->
                            <!--<a  href='/list?keyword=移动APP'>移动APP</a>-->
                            <!--<a  href='/list?keyword=操作系统'>操作系统</a>-->
                            <!--<a  href='/list?keyword=PC软件'>PC软件</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
                <li><a href='/list?keyword=数字货币' class="menu_btn">数字货币</a></li>
            </ul>
        </div>
        <div class="search_aside">
            <div class="search_box">
                <form action="/list" method="get" class="search-form">
                    <%if(search_word){%>
                    <input type="text" name="keyword" class="search_input" value="<%=search_word%>"/>
                    <%}else{%>
                    <input type="text" name="keyword" class="search_input"/>
                    <%}%>
                    <a class="click_search"><img src="/images/icon-sourch.png" /></a>
                </form>
            </div>
            <div class="is_login">
                <% if(!useInfo.islogin) { %>
                <span class="personalWrap no_loading">
                     <a class="header-btn" data-type="login">登 录</a> | <a class="header-btn" data-type="regist">注 册</a>
                </span>
                <%}else{%>
                <span class="personalWrap login_true">
                     <a class="user_title" href="/person_set">
                         <%if(useInfo.loginUser.usephoto){%>
                         <img src="<%=useInfo.loginUser.usephoto %>" class="user_img">
                         <%}else{%>
                         <img src="/images/workImg/userImg.png" class="user_img">
                         <%}%>
                     </a>
                     <span class="msy">
                        <img src="/images/icon_xx.gif"><a href="/all_news" id="msgNum" class="num"></a>
                     </span>
                     <span  class="layOutBtn">退出</span>
                </span>
                <%}%>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<% include('./login') %>