<div class="modle-wrap" id="person_baseNews_out">
	<div class="modle-container">
		<div class="person_baseNews">
			<h5 class="refuse_title text_center">信息详情 <img src="images/clole_icon.png" class="float_right person_baseNews_close close"></h5>
			<div class="person_baseNews_content clearfix">
				<div class="all_mews_left on float_left">
					<p class="pc_news_title">基本信息</p>
					<div class="news_line">
						<b class="news_line_left">头像</b>
						<div class="head_portrait">
							<img src="images/img_tx.png" class="head_photo">
						</div>
					</div>
					<div class="news_line">
						<b class="news_line_left">账户ID</b>
						<p class="news_line_right" >
							<span id="accountId">105427</span>
						</p>
					</div>
					<div class="news_line">
						<b class="news_line_left">账户绑定账号</b>
						<p class="news_line_right">
							<span id="accountMail">Estherstar@126.com</span>
						</p>
					</div>
					<div class="news_line">
						<b class="news_line_left">注册时间</b>
						<p class="news_line_right">
							<span id="accountTime">2017年1月10日</span>
						</p>
					</div>
					<div class="news_line">
						<b class="news_line_left">账户昵称</b>
						<p class="news_line_right">
							<span id="accountNickname">18783987465</span>
						</p>
					</div>
					<div class="news_line">
						<b class="news_line_left">用户等级</b>
						<p class="news_line_right">
							<span id="accountRange">10级</span>
						</p>
					</div>
					<div class="news_line">
						<b class="news_line_left">喜欢作品类型</b>
						<p class="news_line_right on">
							<label class="margin_right20">
								<b class="box_bordern"><img src="images/icon_xzfw_1.png" class="box_border_img"></b>
								<input type="hidden" name="">
								<span class="vertial_middle music">音乐</span>
							</label>
							<label class="margin_right20 ">
								<b class="box_bordern"><img src="images/icon_xzfw_1.png" class="box_border_img"></b>
								<input type="hidden" name="">
								<span class="vertial_middle movie">电影</span>
							</label>
							<label class="margin_right20 ">
								<b class="box_bordern"><img src="images/icon_xzfw_1.png" class="box_border_img"></b>
								<input type="hidden" name="">
								<span class="vertial_middle conmic">动漫</span>
							</label>
							<label class="margin_right20 ">
								<b class="box_bordern"><img src="images/icon_xzfw_1.png" class="box_border_img"></b>
								<input type="hidden" name="">
								<span class="vertial_middle tv">电视剧</span>
							</label>
							<label class="margin_right20 ">
								<b class="box_bordern"><img src="images/icon_xzfw_1.png" class="box_border_img"></b>
								<input type="hidden" name="">
								<span class="vertial_middle novel">小说</span>
							</label>
						</p>
					</div>
					<div class="news_line">
						<b class="news_line_left">社群协作审核</b>
						<p class="news_line_right">
							<span id="accountperson">非成员</span>
						</p>
					</div>
				</div>
				<div class="all_news_right float_left">
					<p class="pc_news_title">实名信息</p>
					<div class="news_line">
						<b class="news_line_left">姓名</b>
						<p class="news_line_right">
							<span id="accountRealName">李光</span>
						</p>
					</div>
					<div class="news_line">
						<b class="news_line_left">证件号</b>
						<p class="news_line_right">
							<span id="accountSelf">13023019900802XXXX</span>
						</p>
					</div>
					<div class="news_line">
						<b class="news_line_left">国家省市</b>
						<p class="news_line_right">
							<span class="pad_5" id="accountCountry">中国</span>
							<span class="pad_5" id="accountProvince">四川</span>
							<span class="pad_5" id="accountCity">成都</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>