<div class="modle-wrap refuse_box">
	<div class="modle-container">
		<div class="refuse">
			<h5 class="refuse_title">拒绝原因</h5>
			<div class="refuse_content">
				<span class="float_left">原因</span>
				<div class="float_right" id="refuse_word_height">
					<textarea class="refuse_word" id="refuse_word">请输入拒绝原因</textarea>
				</div>
			</div>
			<p class="refuse_btnOut">
				<button class="on refuse_btn yes" id="yes">确定</button>
				<button class="refuse_btn close" id="close">关闭</button>
			</p>
		</div>
	</div>
</div>