
<div>
    <div class="modle-wrap modle-pwd">
        <div class="modle-container">
            <div class="pub-modle email-modle">
                <P class="modle-head">
                    <a class="float_left return_login">< 返回登录</a>
                    <i class="close_btn"></i>
                </P>
                <div class="modle-body step_1">
                    <div class="clearfix">
                        <dl>
                            <dt class="color_main">01</dt>
                            <dd class="color_000">输入邮箱地址</dd>
                        </dl>
                        <dl>
                            <dt class="line active"></dt>
                        </dl>
                        <dl>
                            <dt>02</dt>
                            <dd>验证邮箱</dd>
                        </dl>
                        <dl>
                            <dt class="line"></dt>
                        </dl>
                        <dl>
                            <dt>03</dt>
                            <dd>重置密码</dd>
                        </dl>
                    </div>
                    <div class="name_input">
                        <i></i>
                        <input type="text" class="findPwd_Email" placeholder="请输入注册时使用的的邮箱账号" />
                    </div>
                    <div class="error_wrap">
                        <p></p>
                    </div>
                    <div>
                        <a class="find_pwd">找回密码</a>
                    </div>
                </div>
                <div class="modle-body step_2">
                    <div class="clearfix text_center">
                        <dl>
                            <dt class="color_main">01</dt>
                            <dd class="color_000">输入邮箱地址</dd>
                        </dl>
                        <dl>
                            <dt class="line active"></dt>
                        </dl>
                        <dl>
                            <dt class="color_main">02</dt>
                            <dd class="color_000">验证邮箱</dd>
                        </dl>
                        <dl>
                            <dt class="line"></dt>
                        </dl>
                        <dl>
                            <dt>03</dt>
                            <dd>重置密码</dd>
                        </dl>
                    </div>
                    <div class="email-msg">
                        密码重置邮件已发送至您的邮箱：
                        <p class="color_main pwdEmail-address">4123423523@qq.com</p>
                        <div class="f14 color_999">请在24小时内登录您的邮箱接收邮件，链接激活后可重置密码！</div>
                    </div>
                    <div>
                        <a class="pwdEmail">登陆邮箱查看</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>