<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>版权百科</title>
    <link rel="icon" href="/images/font-logoIcon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/person_center.css"/>
    <% include('common/baidu_tj') %>
</head>
<body>
<div class="error_style clearfix error_img img_bg_yc">
    <a class="error_bk_logo error_img img_bg_lo"></a>
    <div class="error_styleLeft">
        <div class="error_title">
            <p>尊敬的用户：</p>
            <span>对不起，您访问的页面由于网络异常异常原因发生错误，请稍后再试。</span>
        </div>
        <div class="error_img img_400"></div>
        <p class="linkP">
            <a href="../#"><span class="error_img icon_fh"></span>返回上一页  </a> <a>|</a>  <a href="../#"> 前往首页</a>
        </p>
    </div>
    <div class="error_styleRight">
        <div>【版权百科】通过互联网社会化旨在于创造一个针对版权领域，包括文字、动漫、音乐、影视、软件等作品的版权信息收集与展示平台，充分调动互联网的参与和奉献精神，致力于积极推动版权相关事务的交流与分享。</div>
        <ul>
            <li>
                <p><a class="error_img icon_rl"></a>版权认领服务</p>
                <span>权利持有者通过创建版权词条可以公示和认领自己的版权，通过认领的方式可以让权利持有者快速的确权。通过版权的认领，权利持有者可获得版权词条和版权作品词条的编辑审核权，同时方便版权需求者快速了解权利持有者的权利信息，帮助版权持有者获得更多的交易机会。</span>
            </li>
            <li>
                <p><a class="error_img icon_jt"></a>版权数据服务</p>
                <span>我们为版权持有者提供版权作品全网监听服务，包括跟踪版权作品全网传播情况、舆情分析等信息。您只需要通过关注作品即可获得该服务，我们将通过邮件的方式发送版权作品监听服务报告，让您了解版权作品真实情况。</span>
            </li>
            <li>
                <p><a class="error_img icon_zj"></a>版权交易中介服务</p>
                <span>版权百科通过收集的版权信息帮助交易双方建立桥梁，版权需求者只需要填写版权需求信息将会得到寻找相关资源信息机会。</span>
            </li>
            <li>
                <p><a class="error_img icon_qq"></a>版权确权服务</p>
                <span>版权百科帮助版权持有者获得官方颁发的确权证书，帮助版权人确认和保护自己的权利。权利人只需留下版权作品信息以及权利人信息即可获得我们提供的1对1的版权确权服务。</span>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="/lib/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="/javascripts/person_center.js"></script>
</body>
</html>