<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" type="text/css" href="../public/stylesheets/common.css"/>
<link rel="stylesheet" type="text/css" href="../public/stylesheets/person_center.css"/>
<link rel="stylesheet" type="text/css" href="../public/lib/swiper/swiper-3.4.2.min.css" />
<% include('common/baidu_tj') %>
<body>
<!--模板三-->
<div class="pc_template" style="width:760px;">
    <div class="pc_w800_content text_left" style="padding:0 20px 0 10px;">
        <!--最上面的相同部分start-->
        <div class="padLeft" >
            <h1 class="z_title bold">鬼吹灯之寻龙诀</h1>
            <p class="h_title">由乌尔善执导的悬疑动作片、改编于天下霸唱所著盗墓小说《鬼吹灯》的后四部</p>
            <p class="label_description">
                <span>电影</span>
                <span>天下霸唱</span>
                <span>盗墓</span>
                <span>恐怖</span>
                <span>刺激</span>
            </p>
            <div class="base_description">
                <p class="base_descriptionP">
                    <span class="base_descriptionName">修改时间:</span>
                    <span class="base_descriptionValue">2017-09-12 12:12:10</span>
                </p>
                <p class="base_descriptionP">
                    <span class="base_descriptionName">修改描述:</span>
                    <span class="base_descriptionValue">2017-09-12 12:12:10</span>
                </p>
                <p class="base_descriptionP">
                    <span class="base_descriptionName">修改用户:</span>
                    <span class="base_descriptionValue">2017-09-12 12:12:10</span>
                </p>
            </div>
        </div>
        <!--最上面的相同部分end-->
        <!--基本信息start-->
        <div class="baseNews text_left">
            <div class="baseNews_ago clearfix">
                <p class="alter bold">
                    基本信息  <span class="alter_span">（ <i>修改前</i>）</span>
                    <span class="blue_border"></span>
                </p>
                <table class="baseNews_table fs14">
                    <tr>
                        <td class="quality">作品名称:</td>
                        <td class="result">《三生三世十里桃花》</td>
                    </tr>
                    <tr>
                        <td class="quality">全册章数</td>
                        <td class="result">二百三十九章</td>
                    </tr>
                    <tr>
                        <td class="quality">文学体裁:</td>
                        <td class="result">小说</td>
                    </tr>
                </table>
                <table class="baseNews_table fs14">
                    <tr>
                        <td class="quality">作品名称:</td>
                        <td class="result">《三生三世十里桃花》</td>
                    </tr>
                    <tr>
                        <td class="quality">全册章数</td>
                        <td class="result">二百三十九章</td>
                    </tr>
                    <tr>

                        <td class="quality">字数</td>
                        <td class="result">约200万</td>
                    </tr>
                </table>
            </div>
            <div class="baseNews_after clearfix">
                <p class="alter bold">
                    基本信息  <span class="alter_span">（ <i>修改后</i>）</span>
                    <span class="blue_border"></span>
                </p>
                <table class="baseNews_table fs14">
                    <tr>
                        <td class="quality">作品名称:</td>
                        <td class="result">《三生三世十里桃花》</td>
                    </tr>
                    <tr>
                        <td class="quality">全册章数</td>
                        <td class="result">二百三十九章</td>
                    </tr>
                    <tr>
                        <td class="quality">字数</td>
                        <td class="result">约200万</td>
                    </tr>
                </table>
                <table class="baseNews_table fs14">
                    <tr>
                        <td class="quality">作品名称:</td>
                        <td class="result">《三生三世十里桃花》</td>
                    </tr>
                    <tr>
                        <td class="quality">创作年代:</td>
                        <td class="result">21世纪</td>
                    </tr>
                    <tr>
                        <td class="quality">文学体裁:</td>
                        <td class="result">小说</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--基本信息end-->
        <!-- 作品封面start-->
        <div class="baseNews text_left">
            <div class="baseNews_ago clearfix">
                <p class="alter bold">
                    作品封面
                    <span class="blue_border"></span>
                </p>
                <div class="para para-coverImg">
                    <div class="swiper-container coverImg-container" id="swiper_coverImg1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><a><img src="../public/images/fm_1 (1).png"></a></div>
                            <div class="swiper-slide"><a><img src="../public/images/fm_1 (3).png"></a></div>
                            <div class="swiper-slide"><a><img src="../public/images/fm_1 (13).png"></a></div>
                            <div class="swiper-slide"><a><img src="../public/images/fm_1 (12).png"></a></div>
                            <div class="swiper-slide"><a><img src="../public/images/fm_1 (13).png"></a></div>
                            <div class="swiper-slide"><a><img src="../public/images/fm_1 (12).png"></a></div>
                        </div>
                    </div>
                    <!-- 如果需要导航按钮 -->
                    <div class="next-coverImg coverImg1"></div>
                    <div class="prev-coverImg coverImg1"></div>
                </div>
            </div>
        </div>
        <!-- 作品封面end-->
        <!--站点监控start-->
        <div class="baseNews text_left">
            <div class="baseNews_ago clearfix">
                <p class="alter bold">
                    站点监控  <span class="alter_span">（ <i>修改前</i>）</span>
                    <span class="blue_border"></span>
                </p>
                <div class="web">
                    <p class="webit_p"><span>网站名称：</span><span>百度</span></p>
                    <p class="webit_p"><span>地址：</span><span>http://www.baidu.cm</span></p>
                    <p class="webit_p"><span>是否具有版权：</span><span>是</span></p>
                </div>
            </div>
            <div class="baseNews_after clearfix">
                <p class="alter bold">
                    站点监控  <span class="alter_span">（ <i>修改后</i>）</span>
                    <span class="blue_border"></span>
                </p>
                <div class="web">
                    <p class="webit_p"><span>网站名称：</span><span>百度</span></p>
                    <p class="webit_p"><span>地址：</span><span>http://www.baidu.com</span></p>
                    <p class="webit_p"><span>是否具有版权：</span><span>是</span></p>
                </div>
            </div>
        </div>
        <!--站点监控end-->
        <!--标题start-->
        <div class="baseNews text_left">
            <div class="baseNews_ago clearfix">
                <p class="alter bold">
                    标题  <span class="alter_span">（ <i>修改前</i>）</span>
                    <span class="blue_border"></span>
                </p>
                <div class="web">
                    <p class="webit_p"><span>主标题：</span><span>十二生肖</span></p>
                    <p class="webit_p"><span>副标题：</span><span>海外遗宝回归的故事——成龙力作</span></p>
                </div>
            </div>
            <div class="baseNews_after clearfix">
                <p class="alter bold">
                    标题  <span class="alter_span">（ <i>修改后</i>）</span>
                    <span class="blue_border"></span>
                </p>
                <div class="web">
                    <p class="webit_p"><span>主标题：</span><span>十二生肖</span></p>
                    <p class="webit_p"><span>副标题：</span><span>海外遗宝回归的故事——成龙力作</span></p>
                </div>
            </div>
        </div>
        <!--标题end-->
        <!--作品标签start-->
        <div class="baseNews text_left">
            <div class="baseNews_ago clearfix">
                <p class="alter bold">
                    作品标签 <span class="alter_span">（ <i>修改前</i>）</span>
                    <span class="blue_border"></span>
                </p>
                <div class="web">
                    <p class="labelling">
                        <span>电影</span>
                        <span>天下霸唱</span>
                        <span>盗墓</span>
                        <span>恐怖</span>
                    </p>
                </div>
            </div>
            <div class="baseNews_after clearfix">
                <p class="alter bold">
                    作品标签  <span class="alter_span">（ <i>修改后</i>）</span>
                    <span class="blue_border"></span>
                </p>
                <div class="web">
                    <p class="labelling">
                        <span>电影</span>
                        <span>天下霸唱</span>
                        <span>盗墓</span>
                        <span>恐怖</span>
                        <span>刺激</span>
                    </p>
                </div>
            </div>
        </div>
        <!--作品标签end-->
        <!--富文本模板start-->
        <div class="baseNews text_left">
            <div class="baseNews_ago clearfix">
                <p class="alter bold">
                    富文本模板 <span class="alter_span">（ <i>修改前</i>）</span>
                    <span class="blue_border"></span>
                </p>
                <div class="web">
                    <div class="ueditorContent">
                        <p style="text-align: left;">从《十二生肖》正式启动伊始，成龙就在不厌其烦的强调这是他最后一部“搏命去打”的功夫片，其效果无非两点，一是制造“过了这村没这店”的奇货可居紧迫感，二是唤起影迷的怀旧心态。成龙功夫在片中已经退居次席，取而代之的是各种高科技设备。从开场的一幕滑轮衣竞速，到之后滑翔伞盗宝，高科技的装备配上成龙的搏命演出，大有中国版007的风采。（网易娱乐评）</p><p style="text-align: left;">影片《十二生肖》是2013年贺岁最具卖相和商业气质的电影，与“好电影”相比，更应该是“好看的电影”。一把年纪的成龙再次挑战新的极限动作。影片喜剧元素足，拍摄过程中多次涉险，是成龙从影以来最突破极限之作。（新快网评）</p><p style="text-align: left;">《十二生肖》并不是个走心的电影，撇去漏洞百出的剧本和有“吃老本”嫌疑的故事模式，就连成龙电影一贯的华丽动作和搞笑桥段也一去不回。《十二生肖》的故事与以往成龙电影大同小异，剧情模式距离今时今日已经太远，很难从意识形态上再次引发观众共鸣。（天山网评）</p>
                    </div>
                </div>
            </div>
            <div class="baseNews_after clearfix">
                <p class="alter bold">
                    富文本模板  <span class="alter_span">（ <i>修改后</i>）</span>
                    <span class="blue_border"></span>
                </p>
                <div class="web">
                    <div class="ueditorContent">
                        <p style="text-align: left;">从《十二生肖》正式启动伊始，成龙就在不厌其烦的强调这是他最后一部“搏命去打”的功夫片，其效果无非两点，一是制造“过了这村没这店”的奇货可居紧迫感，二是唤起影迷的怀旧心态。成龙功夫在片中已经退居次席，取而代之的是各种高科技设备。从开场的一幕滑轮衣竞速，到之后滑翔伞盗宝，高科技的装备配上成龙的搏命演出，大有中国版007的风采。（网易娱乐评）</p><p style="text-align: left;">影片《十二生肖》是2013年贺岁最具卖相和商业气质的电影，与“好电影”相比，更应该是“好看的电影”。一把年纪的成龙再次挑战新的极限动作。影片喜剧元素足，拍摄过程中多次涉险，是成龙从影以来最突破极限之作。（新快网评）</p><p style="text-align: left;">《十二生肖》并不是个走心的电影，撇去漏洞百出的剧本和有“吃老本”嫌疑的故事模式，就连成龙电影一贯的华丽动作和搞笑桥段也一去不回。《十二生肖》的故事与以往成龙电影大同小异，剧情模式距离今时今日已经太远，很难从意识形态上再次引发观众共鸣。（天山网评）</p>
                    </div>
                </div>
            </div>
        </div>
        <!--富文本模板end-->
    </div>
</div>
<script type="text/javascript" src="../public/lib/jquery-3.0.0.min.js"></script>
<script src="../public/lib/swiper/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="../public/javascripts/person_center.js"></script>
<script>
    var mySwiper1 = new Swiper ('#swiper_coverImg1', {
        slidesPerView : 'auto',
        spaceBetween : 32,
        nextButton: '.next-coverImg.coverImg1',
        prevButton: '.prev-coverImg.coverImg1'
    });
    var mySwiper2 = new Swiper ('#swiper_coverImg2', {
        slidesPerView : 'auto',
        spaceBetween : 32,
        nextButton: '.next-coverImg.coverImg2',
        prevButton: '.prev-coverImg.coverImg2'
    });
    var mySwiper3 = new Swiper ('#swiper_otherWeb1', {
        loop: true,
        slidesPerView :'auto',
        /* loopedSlides :4,*/
        spaceBetween : 12,
        nextButton: '.next-otherWeb.otherWeb1',
        prevButton: '.prev-otherWeb.otherWeb1'
    });
    var mySwiper4 = new Swiper ('#swiper_otherWeb2', {
        loop: true,
        slidesPerView :'auto',
        spaceBetween : 12,
        nextButton: '.next-otherWeb.otherWeb2',
        prevButton: '.prev-otherWeb.otherWeb2'
    });
</script>
</body>
</html>
