<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>版权百科</title>
    <link rel="icon" href="../../images/font-logoIcon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/common.css"/>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/copyright.css"/>
    <link rel="stylesheet" type="text/css" href="../../font/iconfont.css"/>
    <style>

    </style>
    <% include('../common/baidu_tj') %>
</head>
<body>
<% include('../common/header') %>
<!-- content -->
<div class="content-nav">
    <div><a href="/item/">测试作品</a>  >  版权链 >  版权详情</div>
</div>
<div class="copyRight-wrap">
    <div class="wrap">
        <div class="copy-item">
            <div class="copy-title">
                <h2>三国演义<span>（版权授权使用）</span></h2>
            </div>
            <div class="copy copy-synopsis">
                作品版权授权使用指著作权转授该作品的使用权利。著作权转授的合同受到原授权合同的制约。原授权合同未约定受托人具有转授权的权利的，受托人不得再向第三人转授权。如确需要 转授权，应当取得原授权人同意。未经同意，即为非法转授权。
            </div>
            <div class="copy-basicInfo clearfix">
                <dl class="basicInfo-block basicInfo-left">
                    <dt class="basicInfo-item name">授权方:</dt>
                    <dd class="basicInfo-item value">罗贯中</dd>
                    <dt class="basicInfo-item name">授权使用时间:</dt>
                    <dd class="basicInfo-item value">未知</dd>
                    <dt class="basicInfo-item name">授权方式:</dt>
                    <dd class="basicInfo-item value">独家授权</dd>
                </dl>
                <dl class="basicInfo-block basicInfo-right">
                    <dt class="basicInfo-item name">被授权方:</dt>
                    <dd class="basicInfo-item value">北京XXXXX公司</dd>
                    <dt class="basicInfo-item name">授权使用涉及金额:</dt>
                    <dd class="basicInfo-item value">200万</dd>
                </dl>
            </div>
            <div class="update-Info">＊该版权信息1天前，由宋波编辑，我要纠正和完善该版权信息</div>
            <div class="clearfix">
                <div class="float_left copy-para" style="width: 355px;height: 445px;">
                    <div class="para-title left">
                        官方版权机构认证
                    </div>
                    <div class="para-txt" style="padding-right: 30px">
                        证书信息错误，我是真实原始著作权人，我可以<a>重新上传</a>或去<a>中国版权保护中心登记</a>
                    </div>
                    <div class="text_center">
                        <!--<img src="../images/img_wz.png">-->
                        <a class="upload-btn1"></a>
                        <p class="f14 color_666 mb10">原始著作权人如何获取版权证书？</p>
                        <a class="copy-btn1">中国版权保护中心登记</a>
                    </div>
                </div>
                <div class="float_right copy-para" style="width: 755px;height: 445px;">
                    <div class="para-title right">
                        权利人声明
                    </div>
                    <div class="para-txt">
                        该声明为原始著作权人填写并公示。平台对原始著作人的正当声明进行保护，同时平台保留对原始著作人消极错误的声明信息追究法律责任。
                    </div>
                    <div class="para-body clearfix">
                        <textarea class="empower-text float_left">《三国演义 》电视剧是中央电视节目制作中心1993年制作的一部大型历史剧，我们拥有该作品的人身权和财产权。希望通过版权百科平台再次声明我们的权益，停止一切侵权和盗播的行为。中国中央电视台</textarea>
                        <textarea class="empower-text float_right" placeholder="请输入被授权方声明信息......（最多200字）"></textarea>
                    </div>
                    <div class="para-btn text_center">
                        <a>侵权申诉</a>
                        <a>获取使用授权</a>
                    </div>
                </div>
            </div>
            <div class="copy-title mt40">
                <h2>授权记录</h2>
            </div>
            <div class="empower-history">
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <td>授权时间</td>
                        <td>授权方式</td>
                        <td>授权方</td>
                        <td>被授权方</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2009.11.12-2011-11.12</td>
                        <td>非独家授权</td>
                        <td>北京XXX公司</td>
                        <td>广州XXX公司</td>
                        <td><a>查看详情</a></td>
                    </tr>
                    <tr>
                        <td>2009.11.12-2011-11.12</td>
                        <td>非独家授权</td>
                        <td>北京XXX公司</td>
                        <td>广州XXX公司</td>
                        <td><a>查看详情</a></td>
                    </tr>
                    <tr>
                        <td>2009.11.12-2011-11.12</td>
                        <td>非独家授权</td>
                        <td>北京XXX公司</td>
                        <td>广州XXX公司</td>
                        <td><a>查看详情</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<% include('../common/bottom') %>
<% include('../common/foot_script') %>

</body>
</html>