<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script type="text/javascript">
        (function(){var phoneWidth=parseInt(window.screen.width),phoneScale=phoneWidth/750,ua=navigator.userAgent;if(/Android (\d+\.\d+)/.test(ua)){var version=parseFloat(RegExp.$1);if(version>2.3){document.write('<meta name="viewport" content="width=640, minimum-scale = '+phoneScale+", maximum-scale = "+phoneScale+', target-densitydpi=device-dpi">')}else{document.write('<meta name="viewport" content="width=750, target-densitydpi=device-dpi">')}}else{document.write('<meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi">')};})();
    </script>
    <meta  name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="format-detection" content="email=no" />
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <title>版权百科</title>
    <style>
        html,bdoy{padding: 0;margin: 0;height: 100%;width: 100%;position: relative;background: #f5f5f5}
        .app{position: absolute;left: 50%;top:50%;transform: translate(-50%,-50%);text-align: center}
        .t-title{font-size: 26px; color: #333333; line-height: 36px;text-align: center;margin-top: 40px}
        .t-text{font-size: 26px; color: #999999; line-height: 36px;text-align: center;margin-top: 16px}
    </style>
</head>

<body>
<div class="app">
    <img src="/app/images/img_500.png">
    <p class="t-title">抱歉，页面暂时无法访问</p>
    <p class="t-text">·  网络信号弱</p>
    <p class="t-text">·  页面已经删除</p>
    <p class="t-text">·  输入的网址不正确</p>
</div>
</body>
</html>
