<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script type="text/javascript">
        (function(){var phoneWidth=parseInt(window.screen.width),phoneScale=phoneWidth/750,ua=navigator.userAgent;if(/Android (\d+\.\d+)/.test(ua)){var version=parseFloat(RegExp.$1);if(version>2.3){document.write('<meta name="viewport" content="width=640, minimum-scale = '+phoneScale+", maximum-scale = "+phoneScale+', target-densitydpi=device-dpi">')}else{document.write('<meta name="viewport" content="width=750, target-densitydpi=device-dpi">')}}else{document.write('<meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi">')};})();
    </script>
    <meta  name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="format-detection" content="email=no" />
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <title>版权百科</title>
    <link rel="stylesheet" type="text/css" href="/app/stylesheets/detail.css" />
    <style>
        .copyInfo-content{font-size: 28px;color: #666666;line-height: 38px;}
        .copyInfo-item{border-bottom:1px solid #DEDEDE; padding: 10px 0;line-height: 32px;font-size: 28px;}
        .copyInfo-item span:first-child{ color: #666666; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;width: 200px;display: inline-block}
        .copyInfo-item span:last-child{ color: #333333; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;display: inline-block;    width: 480px;}
        .para-title{font-size: 30px;color: #333333;margin-bottom: 14px;}
        .para-title span{font-size: 24px;color: #3F3F3F;}
    </style>
    <% include('../common/baidu_tj') %>
</head>

<body>
<% var result=data.result %>
<div class="app mescroll">
    <div class="content-wrap" style="margin-top: 10px;display: block;padding-top: 0;">
        <div class="content-item" style="    padding-bottom: 40px;">
            <p class="para-title"> <%=result.copyrightDetail.name%><label>（原始著作权）</label><span></span></p>
            <div class="para-content">
                <p class="copyInfo-content">原始著作权人为作者，即《著作权法》规定的直接享有著作权的创作作品的公民；由法人或者其他组织主持，代表法人或者其他组织意志创作，并由法人或者其他组织承担责任的作品，法人或者其他组织视为作者。</p>
                <div style="margin-top: 20px">
                    <p class="copyInfo-item">
                        <span>原始著作权人:</span>
                        <span><%=result.copyrightDetail.obllige%></span>
                    </p>
                    <p class="copyInfo-item">
                        <span>创作完成时间:</span>
                        <span><%=result.copyrightDetail.creationTime%></span>
                    </p>
                    <p class="copyInfo-item">
                        <span>版权信息备注:</span>
                        <span><%=result.copyrightDetail.remark%></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<a href="/" style="display: inline-block;width: 72px;height: 72px;background: url('../app/images/icon_sy.png'); position: fixed;right: 10px;bottom:120px";></a>

</body>
<script>
    function isWeiXin() {
        var ua = window.navigator.userAgent.toLowerCase();
        console.log(ua);//mozilla/5.0 (iphone; cpu iphone os 9_1 like mac os x) applewebkit/601.1.46 (khtml, like gecko)version/9.0 mobile/13b143 safari/601.1
        if (ua.match(/MicroMessenger/i) == 'micromessenger') {
            return true;
        } else {
            return false;
        }
    }
    if(isWeiXin()){
        document.getElementById('app-header').style.display='none';
    }else{
        console.log("不是来自微信内置浏览器");
    }
</script>
<script type="text/javascript" src="/app/lib/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/app/javascripts/authorization.js"></script>
<script>
    var share = {
        title:"版权百科 - 探索新知旅程",
        imgUrl:"http://"+location.host+"/app/images/banner.png",
        link:location.href,
        desc:"",
        success:function(){
            //$(".share").hide();
        },
        cancel:function(){

        }
    };
</script>

<script type="text/javascript" src="/app/lib/wx.js"></script>
<script type="text/javascript" src="/app/lib/wx.util.js"></script>
</html>
