<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>作品版权</title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<!--忽略数字识别电话号码-->
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" type="text/css" href="/app/stylesheets/style.css" />
	<% include('../common/baidu_tj') %>
</head>
<body style="background-color: #fff;">
<div class="encyclopedias_content">
	<!-- search title -->
         <!-- <div class="encyclopedias_input">
              <div class="search_input">
              	   <img class="s_icon" src="images/icon_ss.png"/>
              	   <input type="text" placeholder="输入作品名称、作者。如：盗墓笔记"/>
              	   <img class="s_icon2" src="images/icon_gb.png"/>        	      	   
              </div>
              <a class="search_btn">搜 索</a>
                 </div>
         <div class="kong"></div> -->
         <%include('header')%>
        	<div class="copyright_content">
         	     <div class="copyright_img">
         	  	<img src="/app/images/img_wz.png" />
         	     </div>
         	     <table class="table_lie">
         	  	   <tr>
         	  	   	  <td>权利获取方式</td>
         	  	   	  <td class="font_size3">原始所得</td>
         	  	   </tr>
         	  	    <tr>
         	  	   	  <td>权利人</td>
         	  	   	  <td class="font_size3">天下霸唱</td>
         	  	   </tr>
         	  	    <tr>
         	  	   	  <td>有效期</td>
         	  	   	  <td class="font_size3">永久</td>
         	  	   </tr>
         	  	    <tr>
         	  	   	  <td>登记时间</td>
         	  	   	  <td class="font_size3">2015-02-03</td>
         	  	   </tr>
         	  	   <tr>
         	  	   	  <td>版权号</td>
         	  	   	  <td class="font_size3">暂无</td>
         	  	   </tr>
         	  </table>
         	  <p class="title_text">权利范围</p>
         	  <div class="right_range">
         	  	   <span><img src="/app/images/icon_xz_1.png">发表权</span>
         	  	   <span><img src="/app/images/icon_xz_1.png">发表权</span>
         	  	   <span><img src="/app/images/icon_xz.png">发表权</span>
         	  	   <span><img src="/app/images/icon_xz_1.png">发表权</span>
         	  	   <span><img src="/app/images/icon_xz_1.png">发表权</span>
         	  	   <span><img src="/app/images/icon_xz.png">发表权</span>
         	  </div>
	 </div>
</div>
</body>
<script type="text/javascript" src="/app/lib/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="/app/javascripts/custom.js"></script>
</html>
