<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<script type="text/javascript">
        (function(){var phoneWidth=parseInt(window.screen.width),phoneScale=phoneWidth/750,ua=navigator.userAgent;if(/Android (\d+\.\d+)/.test(ua)){var version=parseFloat(RegExp.$1);if(version>2.3){document.write('<meta name="viewport" content="width=640, minimum-scale = '+phoneScale+", maximum-scale = "+phoneScale+', target-densitydpi=device-dpi">')}else{document.write('<meta name="viewport" content="width=750, target-densitydpi=device-dpi">')}}else{document.write('<meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi">')};})();
	</script>
	<title><%=data.workDetail.name%>_<%=data.workDetail.tags[0]%>_版权百科</title>
	<meta name="Keywords" content="<% data.workDetail.tags.forEach(function(u,index){ %><%=u%>,<% })%>">
	<meta name="description" content="<% data.workDetail.chapters.forEach(function(x,index){ %><%if(x.code=='synopsis'){%><% if(x.content&&x.content.length>0){ %><% x.content.forEach(function(u,index){ %><% if(u.text!=null&&u.text!=''){ %><%=u.text%><%}else{%>版权百科<%}%><%})%><%}%><%}%><% })%>"/>

	<meta  name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta content="telephone=no" name="format-detection" />
	<meta name="format-detection" content="email=no" />
	<meta name="full-screen" content="true"/>
	<meta name="screen-orientation" content="portrait"/>
	<meta name="x5-fullscreen" content="true"/>
	<meta name="360-fullscreen" content="true"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<link rel="stylesheet" type="text/css" href="/app/stylesheets/detail.css" />
	<link rel="stylesheet" type="text/css" href="/app/stylesheets/loaders.css" />
	<link rel="stylesheet" type="text/css" href="/lib/swiper/swiper-3.4.2.min.css" />
	<% include('../common/baidu_tj') %>
</head>

<body>
<% var workDetail=data.workDetail %>
<div class="app">
	<!--<div class="app-header" id="app-header">-->
	<!--版权百科-->
	<!--<a class="app-images icon_more"></a>-->
	<!--</div>-->
	<input type="hidden" id="workItemID" value="<%=workID%>">
	<input type="hidden" class="workDetailType" value="<%=workDetail.type%>">
	<input type="hidden" class="monitorStatus" value="<%=workDetail.monitorStatus%>">
	<!--导航-->
	<div class="top-nav">
		<div class="search-wrap">
			<form action="/list" method="get" class="search-form">
				<span class="app-images icon_Search"></span>
				<input class="search-input" name="keyword" placeholder="输入作品名称、作者。如：盗墓笔记">
				<a class="app-images btu_s search_btn">搜索</a>
			</form>
		</div>
		<div class="nav swiper-container" id="detailNav">
			<input type="hidden" class="fromCode" value="<%=from%>">
			<div class="swiper-wrapper">
				<%if(from && from=='bql'){%>
				<div class="swiper-slide" data-type="work_info"><a>作品信息</a></div>
				<%}else{%>
				<div class="swiper-slide active" data-type="work_info"><a>作品信息</a></div>
				<%}%>
				<%if(workDetail.type=='电影' || workDetail.type=='卡通电影'){%>
				<div class="swiper-slide" data-type="cinema"><a>院线票房</a></div>
				<div class="swiper-slide" data-type="playWrap"><a>网络播放 </a></div>
				<div class="swiper-slide" data-type="movieEvaluating"><a>专业评测 </a></div>

				<%}else if(workDetail.type=='电视剧' || workDetail.type=='体育赛事' || workDetail.type=='动画片' || workDetail.type=='综艺' || workDetail.type=='短视频' || workDetail.type=='纪录片'){%>
				<div class="swiper-slide" data-type="playWrap"><a>网络播放</a></div>
				<div class="swiper-slide" data-type="tvEvaluating"><a>用户评测</a></div>

				<%}else if(workDetail.type=='漫画' || workDetail.type=='小说'){%>
				<div class="swiper-slide" data-type="playWrap"><a>网络阅读</a></div>
				<div class="swiper-slide" data-type="webApp"><a>相关APP</a></div>
				<div class="swiper-slide" data-type="platfromList"><a>平台榜单</a></div>

				<%}else if(workDetail.type=='录音制品' || workDetail.type=='MV'){%>
				<div class="swiper-slide" data-type="playWrap"><a>在线播放</a></div>
				<div class="swiper-slide" data-type="platformRanking"><a>平台榜单</a></div>
				<%}%>
				<div class="swiper-slide" data-type="sentiment"><a>舆情洞察</a></div>
				<%if(from && from=='bql'){%>
				<div class="swiper-slide active" data-type="bql"><a>版权链</a></div>
				<%}else{%>
				<div class="swiper-slide" data-type="bql"><a>版权链</a></div>
				<%}%>

			</div>
		</div>
	</div>

	<!--基本信息-->
	<%if(from && from=='bql'){%>
	<div data-type="work_info" class="content-wrap">
	<%}else{%>
	<div style="display: block" data-type="work_info" class="content-wrap">
	<%}%>

		<%if(workDetail.type=='电影'){%>
		<div class="play-schedule clearfix">
			<div class="schedule-l app_detail icon_tl">预排片</div>
			<%if(workStatus=='2'){%>
			<div class="schedule-m app_detail icon_tz"><div class="schedule-l app_detail icon_t_0 icon-j"></div>电影院线上映</div>
			<div class="schedule-r app_detail icon_tr_1"><div class="schedule-l app_detail icon_t_0 icon-j"></div>网络播放上映</div>
			<%}else if(workStatus=='3'){%>
			<div class="schedule-m app_detail icon_tz_1"><div class="schedule-l app_detail icon_t_0 icon-j"></div>电影院线上映</div>
			<div class="schedule-r app_detail icon_tr"><div class="schedule-l app_detail icon_t_0 icon-j"></div>网络播放上映</div>
			<%}else if(workStatus=='23'){%>
			<div class="schedule-m app_detail icon_tz"><div class="schedule-l app_detail icon_t_0 icon-j"></div>电影院线上映</div>
			<div class="schedule-r app_detail icon_tr"><div class="schedule-l app_detail icon_t_0 icon-j"></div>网络播放上映</div>
			<%}else{%>
			<div class="schedule-m app_detail icon_tz_1"><div class="schedule-l app_detail icon_t_0 icon-j"></div>电影院线上映</div>
			<div class="schedule-r app_detail icon_tr_1"><div class="schedule-l app_detail icon_t_0 icon-j"></div>网络播放上映</div>
			<%}%>
			<input type="hidden" class="workStatus" value="<%=workStatus%>">
		</div>
		<%}%>

		<div class="content-item">
			<div class="chartWidth" style="width: 100%"></div>
			<p class="work_name para-title"><%=workDetail.name%><span style="height: 27px;top:4px"></span></p>
			<p class="work_title"><%=workDetail.workTitle%></p>
			<p class="work_tags">
				<% workDetail.tags.forEach(function(u,index){ %>
				<% if(index==0) { %>
				<a class="active" data-index="<%=index%>"><%=u%></a>
				<%}else{%>
				<a data-index="<%=index%>"><%=u%></a>
				<%}%>
				<% })%>
			</p>
			<% workDetail.chapters.forEach(function(x,index){ %>
			<%if(x.code=='synopsis'){%>
			<div class="para-item" style="padding-bottom: 16px;">
				<div class="para-synopsis">
					<% if(x.content&&x.content.length>0){ %>
					<% x.content.forEach(function(u,index){ %>
					<% if(u.text!=null&&u.text!=''){ %>
					<p class="work_synopsis"><%=u.text%></p>
					<%}else{%>
					<span class="color_999">暂无<%=x.name%></span>
					<%}%>
					<%})%>
					<%}%>
				</div>
			</div>
			<%}%>
			<% })%>
		</div>

		<% workDetail.chapters.forEach(function(x,index){ %>
		<%if(x.code=='website'){%>
		<div class="content-item">
			<p class="para-title">版权数据&nbsp·&nbsp<%=workDetail.type%><span></span></p>
			<div class="para-content para-cinema clearfix">
				<div class="cinemaTop app_detail c_1">
					<p><span class="app_detail icon_zl"></span>版权百科指数</p>
					<P class="boxTotal">
						<%if(workDetail.zhishu=='' || workDetail.zhishu==null){%>
						—
						<%}else{%>
						<%=workDetail.zhishu%>
						<%}%>
					</P>
				</div>
				<div class="cinemaTop app_detail c_1">
					<p><span class="app_detail icon_zs"></span>频道排行</p>
					<p class="boxRanking">
						<%if(workDetail.typeSort==null){%>
						—
						<%}else{%>
						<%=workDetail.typeSort%>
						<%}%>
					</p>
				</div>
				<div class="cinemaTop app_detail c_1">
					<p><span class="app_detail icon_rs"></span>累计用户</p>
					<p class="audience">—</p>
				</div>
			</div>
		</div>
		<%}%>
		<% })%>

		<div class="content-item">
			<p class="para-title">基本信息<span></span></p>
			<div class="basic-info">
				<% workDetail.chapters.forEach(function(x,index){ %>
				<%if(x.code=='essential_info'){%>
				<% if(x.content&&x.content.length>0){ %>
				<% x.content.forEach(function(u,index){ %>
					<p>
						<span class="basic-title"><%=u.key%>:</span>
						<span class="basic-text"><%=u.val%></span>
					</p>
				<%})%>
				<%}%>
				<%}%>
				<% })%>

			</div>
		</div>

		<% workDetail.chapters.forEach(function(x,index){ %>
		<%if(x.code=="other"){%>
		<div class="content-item">
			<div class="para-title">
				<p><%=x.name%></p><span></span>
			</div>
			<%if(x.content&&x.content.length>0){%>
			<div class="para para-other clearfix <%=x.code%>">
				<% x.content.forEach(function(u,index){ %>
				<%=#u.text%>
				<%})%>
			</div>
			<%}else{%>
			<div class="para color_999 f14">暂无<%=x.name%></div>
			<%}%>
		</div>
		<%}%>
		<% })%>

	</div>

	<%if(workDetail.type=='电影' || workDetail.type=='卡通电影'){%>
 	<!--院线票房-->
	<div class="content-wrap" data-type="cinema">
		<input name="cinema" type="hidden" value="0">
		<div class="haveContent">
			<div class="content-item">
				<p class="para-title">数据分析<span></span></p>
				<div class="para-content para-cinema clearfix">
					<div class="cinemaTop app_detail c_1">
						<p><span class="app_detail icon_zl"></span>累计票房</p>
						<P class="boxTotal"></P>
					</div>
					<div class="cinemaTop app_detail c_1">
						<p><span class="app_detail icon_zs"></span>票房排名</p>
						<p class="boxRanking"></p>
					</div>
					<div class="cinemaTop app_detail c_1">
						<p><span class="app_detail icon_lj"></span>观影人数</p>
						<p class="audience"></p>
					</div>
				</div>
			</div>
			<div class="content-item cinema-chart table-wrap">
				<div id="cinema-chart"></div>
				<div>
					<table border="0" cellspacing="0" cellpadding="0" class="cinema-table">
						<thead>
						<tr>
							<td>上映天数</td>
							<td>单日票房</td>
							<td>播放占比</td>
						</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="noContent text_center">
			<a class="app_detail img_wk"></a>
			<p class="noContent-text"></p>
		</div>
	</div>

	<!--电影专业评测-->
	<div class="content-wrap" data-type="movieEvaluating">
		<input name="movieEvaluating" type="hidden" value="0">
		<div class="haveContent">
			<div class="content-item" id="movieEvaluating">
				<div class="Evaluating-wrap">
					<span class="app_detail img_kp_1"></span>
					<div class="eWrap-content clearfix">
						<div style="margin-bottom: 20px">
							<div class="app_detail logo_db"></div>
							<span class="app_detail img_kp_2"></span>
						</div>
						<div class="float_left clearfix" style="position: relative">
							<span class="movieForm-head">豆瓣评分</span>
							<span class="movie-score">{{douban.score}}</span>
							<div class="float_right">
								<p class="score-img clearfix">
									<span class="app_detail icon_x" v-for="item in doubanStart1"></span>
									<span class="app_detail icon_x_1" v-for="item in doubanStart2"></span>
									<span class="app_detail icon_x_2" v-for="item in doubanStart3"></span>
								</p>
								<p class="doubanScoreNumber">{{douban.scoreNumber}}人评分</p>
							</div>
						</div>
						<div class="start-wrap float_left">
							<ul>
								<li>
									<span>5星</span>
									<span class="start-line" :style="{width: doubanStsart.five}"></span>
									<span>{{douban.fiveScale}}</span>
								</li>
								<li>
									<span>4星</span>
									<span class="start-line" :style="{width: doubanStsart.four}"></span>
									<span>{{douban.fourScale}}</span>
								</li>
								<li>
									<span>3星</span>
									<span class="start-line" :style="{width: doubanStsart.three}"></span>
									<span>{{douban.threeScale}}</span>
								</li>
								<li>
									<span>2星</span>
									<span class="start-line" :style="{width: doubanStsart.two}"></span>
									<span>{{douban.twoScale}}</span>
								</li>
								<li>
									<span>1星</span>
									<span class="start-line" :style="{width: doubanStsart.one}"></span>
									<span>{{douban.oneScale}}</span>
								</li>
							</ul>
						</div>
						<ul class="otherScale">
							<li v-for="item in douban.otherScale">
								好于<span>{{item}}</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="Evaluating-wrap">
					<span class="app_detail img_kp_1"></span>
					<div class="eWrap-content clearfix">
						<div style="margin-bottom: 20px">
							<div class="app_detail logo_mydy"></div>
							<span class="app_detail img_kp_2"></span>
						</div>
						<div class="float_left clearfix" style="position: relative">
							<span class="movieForm-head">猫眼评分</span>
							<span class="movie-score">{{maoyan.score}}</span>
							<div class="float_right">
								<p class="score-img clearfix">
									<span class="app_detail icon_x" v-for="item in maoyanStart1"></span>
									<span class="app_detail icon_x_1" v-for="item in maoyanStart2"></span>
									<span class="app_detail icon_x_2" v-for="item in maoyanStart3"></span>
								</p>
								<p class="doubanScoreNumber" v-if="maoyan.scoreNumber!=null">{{maoyan.scoreNumber}}人评分</p>
								<p class="doubanScoreNumber" v-else="">—人评分</p>
							</div>
						</div>
						<div class="start-wrap float_left maoyan-start">
							<dl class="clearfix" style="margin-bottom: 10px">
								<dt>专业评分</dt>
								<dd v-if="maoyan.majorScore!=null && maoyan.majorScore!='null' ">{{maoyan.majorScore}}</dd>
								<dd v-else>—</dd>
							</dl>
							<dl  class="clearfix">
								<dt>评论人数</dt>
								<dd v-if="maoyan.commentNumber!=null">{{maoyan.commentNumber}}</dd>
								<dd v-else>—</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="Evaluating-wrap">
					<span class="app_detail img_kp_1"></span>
					<div class="eWrap-content clearfix">
						<div style="margin-bottom: 20px">
							<div class="app_detail logo_sgw"></div>
							<span class="app_detail img_kp_2"></span>
						</div>
						<div class="float_left clearfix" style="position: relative">
							<span class="movieForm-head">时光网评分</span>
							<span class="movie-score">{{shiguang.score}}</span>
							<div class="float_right">
								<p class="score-img clearfix">
									<span class="app_detail icon_x" v-for="item in shiguangStart1"></span>
									<span class="app_detail icon_x_1" v-for="item in shiguangStart2"></span>
									<span class="app_detail icon_x_2" v-for="item in shiguangStart3"></span>
								</p>
								<p class="doubanScoreNumber" v-if="shiguang.scoreNumber!=null">{{shiguang.scoreNumber}}人评分</p>
								<p class="doubanScoreNumber" v-else="">—人评分</p>
							</div>
						</div>
						<div class="start-wrap float_left shiguang-start">
							<ul>
								<li>
									<span>音乐</span>
									<a class="shiguang-line shiguang-music"><span :style="{width: shiguang.music*15.6 + 'px' }"></span></a>
								</li>
								<li>
									<span>画面</span>
									<a class="shiguang-line shiguang-frame"><span :style="{width: shiguang.frame*15.6 + 'px' }"></span></a>
								</li>
								<li>
									<span>导演</span>
									<a class="shiguang-line shiguang-director"><span :style="{width: shiguang.director*15.6 + 'px' }"></span></a>
								</li>
								<li>
									<span>故事</span>
									<a class="shiguang-line shiguang-story"><span :style="{width: shiguang.story*15.6 + 'px' }"></span></a>
								</li>
							</ul>
						</div>
						<p class="otherScale">
							评论人数
							<span v-if="shiguang.freshness!=null">{{shiguang.commentNumber}}</span>
							<span v-else>—</span>
						</p>
					</div>
				</div>
				<div class="Evaluating-wrap">
					<span class="app_detail img_kp_1"></span>
					<div class="eWrap-content clearfix">
						<div style="margin-bottom: 20px">
							<div class="app_detail logo_lfq"></div>
							<span class="app_detail img_kp_2"></span>
						</div>
						<div class="float_left clearfix" style="position: relative">
							<span class="movieForm-head">烂番茄评分</span>
							<span class="movie-score">{{lfq.score}}</span>
							<div class="float_right">
								<p class="score-img clearfix">
									<span class="app_detail icon_x" v-for="item in lfqStart1"></span>
									<span class="app_detail icon_x_1" v-for="item in lfqStart2"></span>
									<span class="app_detail icon_x_2" v-for="item in lfqStart3"></span>
								</p>
								<p v-if="lfq.scoreNumber!=null">{{lfq.scoreNumber}}人评分</p>
								<p v-else="">—人评分</p>
							</div>
						</div>
						<div class="start-wrap float_left lfq-start">
							<div>
								<p v-if="lfq.commentNumber!=null">点评数：{{lfq.commentNumber}}</p>
								<p v-else>点评数：—</p>
								<p v-if="lfq.fresh!=null">新鲜：{{lfq.fresh}}</p>
								<p v-else>新鲜：—</p>
								<p v-if="lfq.rotten!=null">烂：{{lfq.rotten}}</p>
								<p v-else>烂：—</p>
							</div>

							<div>
								<p v-if="lfq.grade!=null">平均评级：{{lfq.grade}}</p>
								<p v-else>平均评级：—</p>
								<p style="margin-bottom: 0" v-if="lfq.reviewNumber!=null">点评数：{{lfq.reviewNumber}}</p>
								<p style="margin-bottom: 0" v-else>点评数：—</p>
							</div>
						</div>
						<div class="otherScale">
							新鲜度
							<span v-if="lfq.freshness!=null">{{lfq.freshness}}</span>
							<span v-else>—</span>
						</div>
					</div>
				</div>
				<div class="Evaluating-wrap">
					<span class="app_detail img_kp_1"></span>
					<div class="eWrap-content clearfix">
						<div style="margin-bottom: 20px">
							<div class="app_detail logo_lmdb"></div>
							<span class="app_detail img_kp_2"></span>
						</div>
						<div class="float_left clearfix" style="position: relative">
							<span class="movieForm-head">IMDB评分</span>
							<span class="movie-score">{{imdb.score}}</span>
							<div class="float_right">
								<p class="score-img clearfix">
									<span class="app_detail icon_x" v-for="item in imdbStart1"></span>
									<span class="app_detail icon_x_1" v-for="item in imdbStart2"></span>
									<span class="app_detail icon_x_2" v-for="item in imdbStart3"></span>
								</p>
								<p v-if="imdb.scoreNumber!=null">{{imdb.scoreNumber}}人评分</p>
								<p v-else="">—人评分</p>
							</div>
						</div>
						<div class="start-wrap float_left lfq-start">
							<div>
								<p v-if="imdb.expertComment!=null">专家评论：{{imdb.expertComment}}</p>
								<p v-else>专家评论：—</p>
								<p v-if="imdb.userEvaluating!=null">用户评测：{{imdb.userEvaluating}}</p>
								<p v-else>用户评测：—</p>
								<p v-if="imdb.criticEvaluating!=null">评论家评测：{{imdb.criticEvaluating}}</p>
								<p v-else>评论家评测：—</p>
							</div>
						</div>
						<div class="otherScale">
							评分
							<span v-if="imdb.prestige!=null">
							<span>{{imdb.prestige}}</span>
						</span>
							<span v-else>—</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="noContent text_center">
			<a class="app_detail img_wk"></a>
			<p class="noContent-text"></p>
		</div>
	</div>
	<%}%>

	<!--网络播放-->
	<div class="content-wrap" data-type="playWrap">
		<input name="playWrap" type="hidden" value="0">
		<div class="haveContent">
			<div class="content-item">
				<p class="para-title" style="margin-bottom: 0">上架跟踪<span></span></p>
				<% workDetail.chapters.forEach(function(x,index){ %>
				<%if(x.code=='website'){%>
				<div>
					<div class="web-wrap">
						<% if(x.content&&x.content.length>0) {%>
						<ul class="clearfix web-list">
							<% x.content.forEach(function(u,index){ %>
							<%if(u.hasCopy=='true'){%>
							<li><i class="app_detail icon_zb"></i><a href="<%=u.url%>" data-num="<%=index%>" data-copy="<%=u.hasCopy%>" target="_blank"><%=u.webSiteName%></a></li>
							<%}else if(u.hasCopy=='false'){%>
							<li><i class="app_detail icon_db"></i><a href="<%=u.url%>" data-num="<%=index%>" data-copy="<%=u.hasCopy%>" target="_blank"><%=u.webSiteName%></a></li>
							<%}else if(u.hasCopy=='other'){%>
							<li><i class="app_detail icon_ys"></i><a href="<%=u.url%>" data-num="<%=index%>" data-copy="<%=u.hasCopy%>" target="_blank"><%=u.webSiteName%></a></li>
							<%}else if(u.hasCopy=='lj'){%>
							<li><i class="app_detail icon_lj_1"></i><a href="<%=u.url%>" data-num="<%=index%>" data-copy="<%=u.hasCopy%>" target="_blank"><%=u.webSiteName%></a></li>
							<%}else{%>
							<li><a href="<%=u.url%>" data-num="<%=index%>" data-copy="<%=u.hasCopy%>" target="_blank"><%=u.webSiteName%></a><i class="icon iconfont icon-xiugai"></i></li>
							<%}%>
							<%})%>
						</ul>
						<%}else{%>
						<p class="no-web">暂未收录监听站点，您可以添加所关注的站点</p>
						<%}%>
					</div>
				</div>
				<%}%>
				<%})%>
			</div>
			<div class="content-item">
				<p class="para-title">数据分析<span></span></p>
				<div class="para-content para-cinema clearfix">
					<div class="cinemaTop app_detail c_1">
						<p><span class="app_detail icon_zl"></span>累计播放次数</p>
						<P class="totalPlay">—</P>
					</div>
					<div class="cinemaTop app_detail c_1">
						<p><span class="app_detail icon_zs"></span>昨日播放</p>
						<p class="yesterdayPlay">—</p>
					</div>
					<div class="cinemaTop app_detail c_1">
						<p><span class="app_detail icon_lj"></span>监听平台</p>
						<p class="playAddress">—</p>
					</div>
				</div>
			</div>
			<div class="content-item">
				<div>
					<div class="date-selWrap">
						<input id="start1" placeholder="年/月/日" class="dateTime-s laydate-icon">
						至
						<span id="endTime"></span>
					</div>
				</div>
				<div class="playChartTitle"></div>
				<div id="play-chart"></div>
				<div class="table-wrap">
					<table border="0" cellspacing="0" cellpadding="0" class="play-table">

					</table>
				</div>
			</div>
		</div>
		<div class="noContent text_center">
			<a class="app_detail img_wk"></a>
			<p class="noContent-text"></p>
		</div>
	</div>

	<!--平台榜单-->
	<%if(workDetail.type=='录音制品' || workDetail.type=='MV'){%>
	<div class="content-wrap" data-type="platformRanking" v-cloak id="music-platform">
		<input name="platformRanking" type="hidden" value="0">
		<div class="haveContent">
			<div class="content-item">
				<p class="para-title">数据分析<span></span></p>
				<div class="para-content para-cinema clearfix">
					<div class="cinemaTop app_detail c_1">
						<p><span class="app_detail icon_zl"></span>累计上榜个数</p>
						<P class="boxTotal">{{rankCount}}</P>
					</div>
					<div class="cinemaTop app_detail c_1">
						<p><span class="app_detail icon_pt"></span>主流网络平台</p>
						<p class="boxRanking">{{internetCount}}</p>
					</div>
					<div class="cinemaTop app_detail c_1">
						<p><span class="app_detail icon_jt" style="position: relative;top: 4px;"></span>电信运营商</p>
						<p class="audience">{{operatorCount}}</p>
					</div>
				</div>
			</div>

			<div class="content-item">
				<p class="para-title">主流互联网平台<span></span></p>
				<div class="plantform-list">
					<ul class="clearfix">
						<li class="music-plantform" :class="{norinking:!platform.hao123_music}"><a class="app_detail " :class="{logo_rm:platform.hao123_music,logo_rm_1:!platform.hao123_music}"></a>热门音乐</li>
						<li class="music-plantform" :class="{norinking:!platform.baidu_music}"><a class="app_detail " :class="{logo_bdyy:platform.baidu_music,logo_bdyy_1:!platform.baidu_music}"></a>百度音乐</li>
						<li class="music-plantform" :class="{norinking:!platform.qqmusic}"><a class="app_detail " :class="{logo_qqyy:platform.qqmusic,logo_qqyy_1:!platform.qqmusic}"></a>QQ音乐</li>
						<li class="music-plantform" :class="{norinking:!platform.yiting_music}"><a class="app_detail " :class="{logo_ytyy:platform.yiting_music,logo_ytyy_1:!platform.yiting_music}"></a>一听音乐</li>
						<li class="music-plantform" :class="{norinking:!platform.ximalaya_music}"><a class="app_detail " :class="{logo_xmfm:platform.ximalaya_music,logo_xmfm_1:!platform.ximalaya_music}"></a>喜马拉雅fm</li>
						<li class="music-plantform" :class="{norinking:!platform.kugou_music}"><a class="app_detail " :class="{logo_kg:platform.kugou_music,logo_kg_1:!platform.kugou_music}"></a>酷狗音乐</li>
						<li class="music-plantform" :class="{norinking:!platform.kuwo_music}"><a class="app_detail " :class="{logo_kw:platform.kuwo_music,logo_kw_1:!platform.kuwo_music}"></a>酷我音乐</li>
						<li class="music-plantform" :class="{norinking:!platform.xiami_music}"><a class="app_detail " :class="{logo_xm:platform.xiami_music,logo_xm_1:!platform.xiami_music}"></a>虾米音乐</li>
						<li class="music-plantform" :class="{norinking:!platform.yinyuetai_music}"><a class="app_detail " :class="{logo_yyt:platform.yinyuetai_music,logo_yyt_1:!platform.yinyuetai_music}"></a>音悦台</li>
						<li class="music-plantform" :class="{norinking:!platform.douban_music}"><a class="app_detail " :class="{logo_dbdt:platform.douban_music,logo_dbdt_1:!platform.douban_music}"></a>豆瓣电台</li>
						<li class="music-plantform" :class="{norinking:!platform.doumi_music}"><a class="app_detail " :class="{logo_dmyy:platform.doumi_music,logo_dmyy_1:!platform.doumi_music}"></a>多米音乐</li>
						<li class="music-plantform" :class="{norinking:!platform.yue365_music}"><a class="app_detail " :class="{logo_365:platform.yue365_music,logo_365_1:!platform.yue365_music}"></a>365音乐网</li>
						<li class="music-plantform noborder" :class="{norinking:!platform.wangyi_music}"><a class="app_detail " :class="{logo_wyyy:platform.wangyi_music,logo_wyyy_1:!platform.wangyi_music}"></a>网易云音乐</li>
						<li class="music-plantform noborder" :class="{norinking:!platform.xinlang_music}"><a class="app_detail " :class="{logo_xlyk:platform.xinlang_music,logo_xlyk_1:!platform.xinlang_music}"></a>新浪乐库</li>
						<li class="music-plantform noborder" :class="{norinking:!platform.jiuku_music}"><a class="app_detail " :class="{logo_9k:platform.jiuku_music,logo_9k_1:!platform.jiuku_music}"></a>九酷音乐</li>
					</ul>
				</div>
				<p class="para-title" style="margin-top: 10px">电信运营商平台<span></span></p>
				<ul class="clearfix">
					<li class="music-plantform noborder" :class="{norinking:!platform.imusic}"><a class="app_detail " :class="{logo_ayy:platform.imusic,logo_ayy_1:!platform.imusic}"></a>爱音乐</li>
					<li class="music-plantform noborder" :class="{norinking:!platform.wo_music}"><a class="app_detail " :class="{logo_wyy:platform.wo_music,logo_wyy_1:!platform.wo_music}"></a>沃音乐</li>
					<li class="music-plantform noborder" :class="{norinking:!platform.migu_music}"><a class="app_detail " :class="{logo_mgyy:platform.migu_music,logo_mgyy_1:!platform.migu_music}"></a>咪咕音乐</li>
				</ul>
				<div class="table-wrap" style="margin-top: 20px">
					<table border="0" cellspacing="0" cellpadding="0" class="platformTable">
						<thead>
						<tr>
							<td>播放平台</td>
							<td>榜单</td>
							<td>上榜天数</td>
						</tr>
						</thead>
						<tbody>
						<tr v-for="item in tableList">
							<td>{{item.platformName}}</td>
							<td>{{item.topRankName}}</td>
							<td>{{item.topRankDays}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="noContent text_center">
			<a class="app_detail img_wk"></a>
			<p class="noContent-text"></p>
		</div>
	</div>
	<%}%>

	<%if(workDetail.type=='小说' || workDetail.type=='漫画'){%>
	<!--相关APP-->
	<div class="content-wrap" data-type="webApp" v-cloak id="app-wrap">
		<input name="webApp" type="hidden" value="0">
		<div class="haveContent">
			<div class="content-item" >
				<div v-if="appList.length>0" class="swiper-container" id="appSwiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="item in appList">
							<p class="app-img"><a :style="{backgroundImage: 'url(' + item.appImage + ')'}"></a></p>
							<p class="app-Name">{{item.appName}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="content-item">
				<div v-if="appList.length>0" class="table-wrap">
				<table border="0" cellspacing="0" cellpadding="0" class="appTable">
					<thead>
					<tr>
						<td style="width: 230px">APP名称</td>
						<td style="width: 180px">上架平台</td>
						<td style="width: 120px">下载量</td>
					</tr>
					</thead>
					<tbody>
					<tr v-for="k in appList">
						<td valign="top" style="width: 230px">
							<div>{{k.appName}}</div>
						</td>
						<td valign="top" style="width: 180px">
							<div v-for="x in k.shelf">{{x.shelfPlatform}}</div>
						</td>
						<td valign="top" style="width: 120px">
							<div v-for="y in k.shelf">{{y.downloads}}</div>
						</td>
					</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
		<div class="noContent text_center">
			<a class="app_detail img_wk"></a>
			<p class="noContent-text"></p>
		</div>
	</div>
	<!--平台榜单-->
	<div class="content-wrap" data-type="platfromList">
		<input name="platfromList" type="hidden" value="0">
		<div class="haveContent">
			<div class="content-item">
				<p class="para-title">数据分析<span></span></p>
				<div class="para-content para-cinema clearfix">
					<div class="cinemaTop app_detail c_1">
						<p><span class="app_detail icon_pt"></span>累计上榜平台</p>
						<p class="totalPt">—</p>
					</div>
					<div class="cinemaTop app_detail c_1">
						<p><span class="app_detail icon_lj"></span>累计上榜天数</p>
						<p class="totalDate">—</p>
					</div>
				</div>
			</div>

			<div class="content-item">
				<div id="platformChart"></div>
				<div class="table-wrap">
					<table border="0" cellspacing="0" cellpadding="0" class="cartoonTable">
						<thead>
						<tr>
							<td>阅读平台</td>
							<td>榜单名称</td>
							<td>持续天数</td>
						</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="noContent text_center">
			<a class="app_detail img_wk"></a>
			<p class="noContent-text"></p>
		</div>
	</div>
	<%}%>
	<!--电视，动画市场评测-->
	<%if(workDetail.type=='电视剧' || workDetail.type=='体育赛事' || workDetail.type=='动画片' || workDetail.type=='综艺' || workDetail.type=='短视频' || workDetail.type=='纪录片'){%>
	<div class="content-wrap" data-type="tvEvaluating" id="monitor-wrap" v-cloak>
		<input name="tvEvaluating" type="hidden" value="0">
		<div class="haveContent">
			<div class="content-item">
				<p class="para-title">主流播放平台<span></span></p>
				<div class="para-content para-cinema clearfix">
					<div class="cinemaTop app_detail c_1">
						<p><span class="app_detail icon_zs"></span>总评论数</p>
						<P class="boxTotal">{{totalComment}}</P>
					</div>
					<div class="cinemaTop app_detail c_1">
						<p><span class="app_detail icon_z"></span>点赞总数</p>
						<p class="boxRanking">{{totalFabulous}}</p>
					</div>
					<div class="cinemaTop app_detail c_1">
						<p><span class="app_detail icon_c" style="position: relative;top: 4px;"></span>踩总数</p>
						<p class="audience">{{totalTread}}</p>
					</div>
				</div>
			</div>

			<div class="content-item">
				<ul class="platform-list clearfix">
					<li class="app_detail platform-item" :class="{img_pc:youku,img_pc_1:!youku}">
						<p class="app_detail logo_yk"></p>
						<div class="clearfix" v-if="youku">
							<dl>
								<dt>评论数</dt>
								<dd>{{youku.commentCountStr}}</dd>
							</dl>
							<dl>
								<dt>点赞数</dt>
								<dd>{{youku.fabulousStr}}</dd>
							</dl>
							<dl>
								<dt>踩</dt>
								<dd>{{youku.treadsStr}}</dd>
							</dl>
						</div>
						<div class="clearfix" v-else="">
							<dl>
								<dt>评论数</dt>
								<dd>—</dd>
							</dl>
							<dl>
								<dt>点赞数</dt>
								<dd>—</dd>
							</dl>
							<dl>
								<dt>踩</dt>
								<dd>—</dd>
							</dl>
						</div>
					</li>
					<li class="app_detail platform-item" :class="{img_pc:aqy,img_pc_1:!aqy}">
						<p class="app_detail logo_aqy"></p>
						<div class="clearfix" v-if="aqy">
							<dl>
								<dt>评论数</dt>
								<dd>{{aqy.commentCountStr}}</dd>
							</dl>
							<dl>
								<dt>点赞数</dt>
								<dd>{{aqy.fabulousStr}}</dd>
							</dl>
							<dl>
								<dt>踩</dt>
								<dd>{{aqy.treadsStr}}</dd>
							</dl>
						</div>
						<div class="clearfix" v-else="">
							<dl>
								<dt>评论数</dt>
								<dd>—</dd>
							</dl>
							<dl>
								<dt>点赞数</dt>
								<dd>—</dd>
							</dl>
							<dl>
								<dt>踩</dt>
								<dd>—</dd>
							</dl>
						</div>
					</li>
					<li class="app_detail platform-item" :class="{img_pc:tx,img_pc_1:!tx}">
						<p class="app_detail logo_tx"></p>
						<div class="clearfix" v-if="tx">
							<dl>
								<dt>评论数</dt>
								<dd>{{tx.commentCountStr}}</dd>
							</dl>
							<dl>
								<dt>点赞数</dt>
								<dd>{{tx.fabulousStr}}</dd>
							</dl>
							<dl>
								<dt>踩</dt>
								<dd>{{tx.treadsStr}}</dd>
							</dl>
						</div>
						<div class="clearfix" v-else="">
							<dl>
								<dt>评论数</dt>
								<dd>—</dd>
							</dl>
							<dl>
								<dt>点赞数</dt>
								<dd>—</dd>
							</dl>
							<dl>
								<dt>踩</dt>
								<dd>—</dd>
							</dl>
						</div>
					</li>
					<li class="app_detail platform-item" :class="{img_pc:ls,img_pc_1:!ls}">
						<p class="app_detail logo_lsh"></p>
						<div class="clearfix" v-if="ls">
							<dl>
								<dt>评论数</dt>
								<dd>{{ls.commentCountStr}}</dd>
							</dl>
							<dl>
								<dt>点赞数</dt>
								<dd>{{ls.fabulousStr}}</dd>
							</dl>
							<dl>
								<dt>踩</dt>
								<dd>{{ls.treadsStr}}</dd>
							</dl>
						</div>
						<div class="clearfix" v-else="">
							<dl>
								<dt>评论数</dt>
								<dd>—</dd>
							</dl>
							<dl>
								<dt>点赞数</dt>
								<dd>—</dd>
							</dl>
							<dl>
								<dt>踩</dt>
								<dd>—</dd>
							</dl>
						</div>
					</li>
					<li class="app_detail platform-item" :class="{img_pc:sh,img_pc_1:!sh}">
						<p class="app_detail logo_shsp"></p>
						<div class="clearfix" v-if="sh">
							<dl>
								<dt>评论数</dt>
								<dd>{{sh.commentCountStr}}</dd>
							</dl>
							<dl>
								<dt>点赞数</dt>
								<dd>{{sh.fabulousStr}}</dd>
							</dl>
							<dl>
								<dt>踩</dt>
								<dd>{{sh.treadsStr}}</dd>
							</dl>
						</div>
						<div class="clearfix" v-else="">
							<dl>
								<dt>评论数</dt>
								<dd>—</dd>
							</dl>
							<dl>
								<dt>点赞数</dt>
								<dd>—</dd>
							</dl>
							<dl>
								<dt>踩</dt>
								<dd>—</dd>
							</dl>
						</div>
					</li>
					<li class="app_detail platform-item" :class="{img_pc:jl,img_pc_1:!jl}">
						<p class="app_detail logo_jl"></p>
						<div class="clearfix" v-if="jl">
							<dl>
								<dt>评论数</dt>
								<dd>{{jl.commentCountStr}}</dd>
							</dl>
							<dl>
								<dt>点赞数</dt>
								<dd>{{jl.fabulousStr}}</dd>
							</dl>
							<dl>
								<dt>踩</dt>
								<dd>{{jl.treadsStr}}</dd>
							</dl>
						</div>
						<div class="clearfix" v-else="">
							<dl>
								<dt>评论数</dt>
								<dd>—</dd>
							</dl>
							<dl>
								<dt>点赞数</dt>
								<dd>—</dd>
							</dl>
							<dl>
								<dt>踩</dt>
								<dd>—</dd>
							</dl>
						</div>
					</li>
					<li class="app_detail platform-item" :class="{img_pc:xl,img_pc_1:!xl}">
						<p class="app_detail logo_xl"></p>
						<div class="clearfix" v-if="xl">
							<dl>
								<dt>评论数</dt>
								<dd>{{xl.commentCountStr}}</dd>
							</dl>
							<dl>
								<dt>点赞数</dt>
								<dd>{{xl.fabulousStr}}</dd>
							</dl>
							<dl>
								<dt>踩</dt>
								<dd>{{xl.treadsStr}}</dd>
							</dl>
						</div>
						<div class="clearfix" v-else="">
							<dl>
								<dt>评论数</dt>
								<dd>—</dd>
							</dl>
							<dl>
								<dt>点赞数</dt>
								<dd>—</dd>
							</dl>
							<dl>
								<dt>踩</dt>
								<dd>—</dd>
							</dl>
						</div>
					</li>
					<li class="app_detail platform-item" :class="{img_pc:mgtv,img_pc_1:!mgtv}">
						<p class="app_detail logo_mgtv"></p>
						<div class="clearfix" v-if="mgtv">
							<dl>
								<dt>评论数</dt>
								<dd>{{mgtv.commentCountStr}}</dd>
							</dl>
							<dl>
								<dt>点赞数</dt>
								<dd>{{mgtv.fabulousStr}}</dd>
							</dl>
							<dl>
								<dt>踩</dt>
								<dd>{{mgtv.treadsStr}}</dd>
							</dl>
						</div>
						<div class="clearfix" v-else="">
							<dl>
								<dt>评论数</dt>
								<dd>—</dd>
							</dl>
							<dl>
								<dt>点赞数</dt>
								<dd>—</dd>
							</dl>
							<dl>
								<dt>踩</dt>
								<dd>—</dd>
							</dl>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="noContent text_center">
			<a class="app_detail img_wk"></a>
			<p class="noContent-text"></p>
		</div>
	</div>
	<%}%>

	<!--洞察舆情-->
	<div class="content-wrap" data-type="sentiment" >
		<input name="sentiment" type="hidden" value="0">
		<div class="haveContent">
			<div id="sentimentVue">
				<div class="content-item">
					<p class="para-title">数据分析<span></span></p>
					<div class="para-content para-cinema clearfix">
						<div class="cinemaTop app_detail c_1">
							<p><span class="app_detail icon_pt"></span>正面情感偏向</p>
							<P class="boxTotal">{{emotionValue}}</P>
						</div>
						<div class="cinemaTop app_detail c_1">
							<p><span class="app_detail icon_rs"></span>影响用户</p>
							<p class="boxRanking">{{unitConversion(effectCount)}}</p>
						</div>
						<div class="cinemaTop app_detail c_1">
							<p><span class="app_detail icon_zx"></span>相关资讯</p>
							<p class="audience">{{unitConversion(totalInfoCount)}}</p>
						</div>
					</div>
				</div>
				<div class="content-item">
					<p class="para-title">重点资讯<span></span>
						<a class="float_right" @click="changeNews" v-if="newsList.length>0"><i class="icon iconfont icon-forabatch"></i>换一批</a>
					</p>
					<div class="para-content">
						<ul v-if="newsList.length>0">
							<li v-for="item in newsList" class="news-item">
								<a :href="item.newsUrl" target="_blank">{{item.newsTitle}}</a>
							</li>
						</ul>
						<p class="noNews" v-else>
							暂无重点资讯
						</p>
					</div>
				</div>
			</div>
			<div class="content-item">
				<p class="para-title">情感偏向<span></span></p>
				<div class="para-content">
					<div id="gaugeChart"></div>
					<div class="gauge-text">
						正面情感指数：<span class="positiveEmotion">—</span>    负面情感指数：<span class="negativeEmotion">—</span>
					</div>
				</div>
			</div>
			<div class="content-item">
				<p class="para-title">影响分布力<span></span></p>
				<div class="para-content">
					<div id="news-chart"></div>
				</div>
			</div>
			<div class="content-item">
				<p class="para-title">历史发布指数与资讯<span></span></p>
				<div class="para-content">
					<div id="k-chart"></div>
				</div>
			</div>
		</div>
		<div class="noContent text_center">
			<a class="app_detail img_wk_yq"></a>
			<p class="noContent-text"></p>
		</div>
</div>

	<%if(from && from=='bql'){%>
	<div style="display: block" class="content-wrap" data-type="bql">
	<%}else{%>
	<div class="content-wrap" data-type="bql">
	<%}%>
		<input name="bql" type="hidden" value="0">
		<div class="haveContent">
			<div id="copyRight"></div>
		</div>

		<div class="noContent text_center">
			<a class="app_detail img_wk"></a>
			<p class="noContent-text"></p>
		</div>
	</div>
	<div class="loading_div">
		<main>
			<div class="loaders">

				<div class="loader">
					<div class="loader-inner ball-spin-fade-loader">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>

			</div>
		</main>
	</div>
	<input type="hidden" class="share_name" value="<%=data.workDetail.name%>_<%=data.workDetail.tags[0]%>_版权百科">
	<%if(workDetail.cover&&workDetail.cover!=null&&workDetail.cover!=''){%>
	<input type="hidden" class="share_img" value="<%=data.workDetail.cover%>">
	<%}%>
</div>
<a href="/" style="display: inline-block;width: 72px;height: 72px;background: url('../app/images/icon_sy.png'); position: fixed;right: 10px;bottom:120px";></a>
</body>
<script type="text/javascript" src="/app/lib/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/lib/swiper/swiper.min.js"></script>
<script>
    var share = {
        title:$('.share_name').val(),
        imgUrl:$('.share_img')?$('.share_img').val():"http://"+location.host+"/app/images/img_fm.png",
        link:location.href,
        desc:$('.work_title').html(),
        success:function(){
            //$(".share").hide();
        },
        cancel:function(){

        }
    };
</script>
<script type="text/javascript" src="/app/lib/wx.js"></script>
<script type="text/javascript" src="/app/lib/wx.util.js"></script>
<script src="/lib/vue/vue.js"></script>
<script src="/lib/laydate/laydate.js"></script>
<script src="/lib/echarts.min.js"></script>
<script type="text/javascript" src="/app/javascripts/detail.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('main').className += 'loaded';
    });
</script>
</html>
