<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script type="text/javascript">
        (function(){var phoneWidth=parseInt(window.screen.width),phoneScale=phoneWidth/750,ua=navigator.userAgent;if(/Android (\d+\.\d+)/.test(ua)){var version=parseFloat(RegExp.$1);if(version>2.3){document.write('<meta name="viewport" content="width=640, minimum-scale = '+phoneScale+", maximum-scale = "+phoneScale+', target-densitydpi=device-dpi">')}else{document.write('<meta name="viewport" content="width=750, target-densitydpi=device-dpi">')}}else{document.write('<meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi">')};})();
    </script>
    <meta  name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="format-detection" content="email=no" />
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <title>版权百科</title>
    <link rel="stylesheet" type="text/css" href="/app/stylesheets/index.css" />
    <link rel="stylesheet" type="text/css" href="/app/stylesheets/mescroll.css" />
    <link rel="stylesheet" type="text/css" href="/app/stylesheets/authorization.css" />
    <% include('../common/baidu_tj') %>
</head>

<body>
<div class="app mescroll" id="mescroll">
    <!--<div class="app-header" id="app-header">-->
        <!--版权百科-->
        <!--<a class="app-images icon_more"></a>-->
    <!--</div>-->
    <div class="authorizationContent">
        <h1 class="authorizationTitle">
            <b class="leftBlue"></b>
            <span>*填写该版权使用需求</span>
        </h1>
        <form action="" method="post" id="authorizationForm">
            <textarea class="authorizationTextarea" name="content" id="" placeholder="版权百科为版权需求者获取版权授权提供帮助，包括提供真实有价值的作品版权资讯，协助您寻找版权人、根据您的需求制定版权采购交易方案，最终帮助您完成版权授权的获取"></textarea>
            <ul class="authorizationBasic">
                <li>
                    <span>版权作品名称：</span>
                    <%if(workName){%>
                    <input type="text" placeholder="请输入作品名称" name="workName" class="workName"  value="<%=workName%>"  disabled="disabled">
                    <%}else{%>
                    <input type="text" placeholder="请输入作品名称" name="workName" class="workName" >
                    <%}%>
                </li>
                <li>
                    <span>姓名：</span>
                    <input type="text" placeholder="请输入您的真实姓名" name="contacts" class="contacts">
                </li>
                <li>
                    <span>电话：</span>
                    <input type="text" placeholder="请输入您的真实电话" name="contactsPhone" class="contactsPhone">
                </li>
                <li>
                    <span>邮箱：</span>
                    <input type="text" placeholder="请输入您的邮箱地址" name="contactsEmail" class="contactsEmail">
                </li>
            </ul>
            <input type="hidden" value="<%=wokrdID%>">
            <div class="authorizationSubmitBox">
                <a class="authorizationSubmit" id="authorizationSubmit">提&nbsp;&nbsp;&nbsp;&nbsp;交</a>
            </div>
            <p class="error-msg"></p>
        </form>
    </div>

</div>
<a href="/" style="display: inline-block;width: 72px;height: 72px;background: url('../app/images/icon_sy.png'); position: fixed;right: 10px;bottom:120px";></a>

</body>
<script>
    function isWeiXin() {
        var ua = window.navigator.userAgent.toLowerCase();
        console.log(ua);//mozilla/5.0 (iphone; cpu iphone os 9_1 like mac os x) applewebkit/601.1.46 (khtml, like gecko)version/9.0 mobile/13b143 safari/601.1
        if (ua.match(/MicroMessenger/i) == 'micromessenger') {
            return true;
        } else {
            return false;
        }
    }
    if(isWeiXin()){
        document.getElementById('app-header').style.display='none';
    }else{
        console.log("不是来自微信内置浏览器");
    }
</script>
<script type="text/javascript" src="/app/lib/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/app/javascripts/authorization.js"></script>
<script>
    var share = {
        title:"版权百科 - 获取版权",
        imgUrl:"http://"+location.host+"/app/images/banner.png",
        link:location.href,
        desc:"版权数据服务专家",
        success:function(){
            //$(".share").hide();
        },
        cancel:function(){

        }
    };
</script>

<script type="text/javascript" src="/app/lib/wx.js"></script>
<script type="text/javascript" src="/app/lib/wx.util.js"></script>
</html>
