<div class="swper_out swiper_out2">
    <div class="swiper-container" id="swiper2">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#">QQ音乐</a>
            </div>
            <div class="swiper-slide">
                <a href="#">酷狗音乐</a>
            </div>
            <div class="swiper-slide">
                <a href="#">咪咕音乐</a>
            </div>
            <div class="swiper-slide">
                <a href="#">魅族音乐</a>
            </div>
            <div class="swiper-slide">
                <a href="#">小米音乐</a>
            </div>
        </div>
    </div>
    <div class="swiper-button-prev on2"></div>
    <div class="swiper-button-next on2"></div>
</div>